 @media (max-width: $screen-sm-max) {
     // Tablet
     //header
     .navs li {
         padding: 7px;
     }
     .navs li a {
         font-size: 11px;
     }
     .about-img {
        position: absolute;
        top: 50%;
        left: 78%;
        width: 335px;
        height: auto;
     }

     .bg-division,
     .bg-divisions {
        height: 267px;
     }

     .bg-faq-banner{
        height: 14vh!important;
        margin-top: 80px;
     }

     

     .main-banner{
         .offers{
        left: 3%;
         }
     }
     .about-info {
         width: 80%;
         padding: 80px 180px 60px 20px;
     }
     .about-main-head{
         text-align: center;
     }

     .chairman{
         text-align: center;
     }

     .door-shadow{
        box-shadow: 5px 5px 1px #ccc !important;
     }
     .abouts {
         margin: 60px 0;
         background-image: linear-gradient(to right, #76c04f 55%, white 20%);
     }
     .types li {
         padding: 0 13px;
     }
     .aside {
         min-height: 300px;
     }
     .flexy .flex-direction-nav .flex-prev {
         left: -37px !important;
     }
     .flexy .flex-direction-nav a.flex-prev:before {
         width: 35px;
     }
     .flex-nav-next {
         .flex-next {
             display: none;
         }
     }
     .address {
         p {
             font-size: 12px;
         }
     }
     .social-info {
         padding: 20px;
     }
     .products-info {
         padding: 20px 0;
     }
     //home
     .creativity {
        top: 8%;
         left: 19px;
         font-size: 14px;
     }

     .knoMore{
        position: absolute;
        right: 42%;
        transform: translate(-50%,-50%);
     }
     .para-color p {
         margin-top: 10px;
         font-size: 14px;
     }

     .thumb{
         left: 2px;
     }
     .cols-flex{
        width: 26%;
     }
     .mar-l{
         margin-left: 50px;
     }
     .search{
         font-size: 11px;
     }
     .search-suggest li p {
         font-size: 11px;
     }
 }