 @media (max-width: $screen-sm-max) {
     // Tablet
     //header
     .navs li {
         padding: 7px;
     }
     .navs li a {
         font-size: 11px;
     }
     .about-img {
         position: absolute;
         top: 69px;
         right: 24px;
         width: 300px;
         height: auto;
     }
     .about-info {
         width: 80%;
         padding: 53px 180px 60px 20px;
     }
     .abouts {
         margin: 60px 0;
         background-image: linear-gradient(to right, #76c04f 80%, white 20%);
     }
     .types li {
         padding: 0 13px;
     }
     .aside {
         min-height: 300px;
     }
     .flexy .flex-direction-nav .flex-prev {
         left: -37px !important;
     }
     .flexy .flex-direction-nav a.flex-prev:before {
         width: 35px;
     }
     .flex-nav-next {
         .flex-next {
             display: none;
         }
     }
     .address {
         p {
             font-size: 12px;
         }
     }
     .social-info {
         padding: 20px;
     }
     .products-info {
         padding: 20px 0;
     }
     //home
     .creativity {
         top: 25%;
         left: 19px;
         font-size: 15px;
     }
     .para-color p {
         margin-top: 10px;
         font-size: 14px;
     }
     .mar-l{
         margin-left: 50px;
     }
     .search{
         font-size: 11px;
     }
     .search-suggest li p {
         font-size: 11px;
     }
 }