<div class="bg-img">
    <div class="container bg-col">
        <div>
            <h3 class="about-us text-center">ABOUT GALA GROUP</h3>
        </div>
        <div class="row">
            <div class="content-padd">
                <div class="col-md-6 col-sm-12">
                    <div class="mar-l">
                        <img src="img/RV-Road-building.jpg" class="img-responsive">
                    </div>

                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="para-color">
                        <h4 class="about-main-head text-left">"Creativity is limitless and so are the ways to expression"</h4>
                        <p>Our vision is to bring your dream space alive. We believe that a house can only be turned into a
                            home, when it evokes emotions in its residents and is instilled with memorable moments. With
                            a variety of high quality and luxury home décor products, we make your idea of a dream home,
                            come to life.</p>
                        <p>Gala Group, inspired to Enhance Life Style, is a live merchandising showroom of global
                                reference, culminating the finest interior products to help cater to all requirements, for creating
                                a unique and trendy architecture of your house. We wish to make your peaceful environment a
                                luxurious one. Today we are a cohesive unit of 14 divisions in a single campus that strives
                                together in bringing a one stop solution for all interior needs.</p>
                        <p>Incepted in the year, 1998, it has developed into an Interior Hub delivering complete interior
                                decoration solution under one roof. Choose from over 2 lakh products &amp; 40 International
                                brands spread across 1 lakh sq. ft. of display area.</p>
                    </div>
                </div>

                <div class="col-md-8 col-md-offset-4 col-sm-12 col-xs-12">
                    <div class="text-left">
                        <h4 class="chairman">CHAIRMAN'S MESSAGE</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="chairmansImg">
                        <img src="img/about/aaa.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="para-color">
                        <p>"When I decided to make my home, I knew that I wanted it to reflect everything that defines my
                                family and me. After all a home remains just a building if not instilled with emotions and
                                personal flavor and to get that, I was ready to explore the world to find myself the right
                                interiors. GALA GROUP is a mighty empire inspired to enhance life style. I was sure that my
                                family was an integral part to make this dream come true. Today we are a cohesive unit that
                                strives together in bringing 'A ONE STOP SOLUTION FOR INTERIOR DECORATION PRODUCTS.'
                                The most effort goes in selecting the right products from an array of stores distributed across
                                the globe. Our objective is to service that difficulty by giving you the largest showrooms at one
                                destination displaying the entire range of raw materials available in the world of interiors. We
                                wish to make your peaceful environment a luxurious one. With the most competitive pricing our
                                ethics lie in understanding your needs and requirement and catering them with utmost
                                precision. No matter what you build, we have the right interior products for your construction.
                                We make this company just the way you make your home.</p>
                        <!-- <p>Mr. Kiran Gala 'GALA GROUP', incepted in 1999, spreads across 60,000 Sq.ft of live display area at Mysore
                            interior solutions in the Deccan region. We exhibit top notch application based showrooms and display
                            over 1000 articles in every genre making selection an easy process. The organization headed by the
                            Chairman and 12 Managing Directors regulates the work culture with qualified technical expertise,
                            helping you choose the right products for your architecture. Despit excellent quality products our
                            keen e interest lies in satisfying our architects and customers .Our products do half the job and
                            the rest is followee p d g you combine your interior campus ensures site analysis, valet parking
                            and delivery of products. Moreover the motive of helinby hospitality and service. Th products
                            and visualize them before instillation is our primary focus. 'GALA HOUSE' as I call this campus is
                            to ensure a friendly company-client atmosphere and help you create the most unique and trendy architecture.
                            The company is ever expanding a nd by launching new products every year we help you culminate your
                            interior shopping at one destination. "</p> -->

                        <!-- <h4 class="ourProgress">OUR PROGRESS</h4>
                        <div class="para-color">
                            <p>In the past 18 years, Gala has become the one-stop solution for all interior needs. No matter
                                what you require, we have the interiors for you. Now, no more wandering the streets for trendy
                                and affordable interiors, with our varied divisions, we ensure all your Interior Needs are
                                met under one roof.</p>
                        </div> -->
                    </div>
                </div>

                <section class="listings">
                    <div class="aboutGala">
                        <div class="product cat-list">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="about in aboutUs | orderBy:'order'">
                                    <div class="padd">
                                        <h3 class="aboutCompany">{{about.name}}</h3>
                                    </div>
                                    <div class="padd aboutcon">

                                        <div class="door-shadow">
                                            <div class="overlay"></div>


                                            <img ng-src="{{about.categoryImage | serverimage}}" class="img-responsive">

                                            <!-- <div class="door-info">
                                                                                                    
                                                                                                    <p class="text-uppercase text-center">{{p.name}}</p>
                                                                                                </div> -->
                                        </div>
                                        <div ng-bind-html="about.aboutCompData | highlight"></div>

                                    </div>
                                </div>
                                <!-- <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="about in aboutUs">
                                
                                    </div> -->
                            </div>
                        </div>


                        <!-- <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" >
                                    <div class="padd">
                                        <h3>Gala Furniture World</h3>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="padd aboutcon">

                                        <div class="door-shadow">
                                            <div class="overlay"></div>

                                           
                                                <img src="img/home/4-Gala-furniture-world.jpg" class="img-responsive"> -->
                        <!-- <div class="door-info">
                                                    
                                                    <p class="text-uppercase text-center">{{p.name}}</p>
                                                </div> -->
                        <!-- </div>
                                        <p>Gala Furniture World is new set up which is now a part of the ‘GALA GROUP’. It is
                                            headed by M. V. Athamaram & Dhaval Shah. The magnificent 20,000 Sq.ft showroom
                                            is largest of its kind and provides room to a large variety of furniture for
                                            the customer’s choice. The store has exquisite collection of Italian and traditional
                                            sofa sets dining tables etc... That caters to every individuals taste.</p>

                                    </div>
                                </div>
                            </div> -->

                    </div>

                </section>
            </div>
        </div>
    </div>
</div>
</div>