<div class="main-banner">
        <section class="listings">
            <div class="container">
                <h1 class="text-capitalize text-center ">Products</h1>
                <div class="about-info">
                    <div class="text-center product" >
                        <div class="row" >
                          
                            <!--//for grid 3-->
                            <div ng-repeat="value in companyName"   ng-if="value.length==3">
                            <div class="col-md-4" ng-repeat="val in value" >
                                    
                                            <div class="door   margin0"  >
                                                <h2 class="text-left"  ui-sref="division({category:data[val][0].companyCategory.company._id})">{{val}}</h2>
                                                <ul class="" ng-repeat="company in data[val]" ng-if="company.name"  ui-sref="gallery({category:data[val][0].companyCategory.company._id ,productId:company._id})">
                                                    <li class="products-li">{{company.name}}</li>
                                                </ul>
                                            </div>
                                        </div></div>
                                    </div>
                                        <!--//for grid 3-->
                                        <!--//for grid 1-->
                                        <div class="row"><div ng-repeat="value in companyName"   ng-if="value.length==1">
                                            <div class="col-md-4" ng-repeat="val in value" >
                                                    
                                                            <div class="door   margin0"   >
                                                                <h2 class="text-left"  ui-sref="division({category:data[val][0].companyCategory.company._id})">{{val}}</h2>
                                                                <ul class="" ng-repeat="company in data[val]" ng-if="company.name" ui-sref="gallery({category:data[val][0].companyCategory.company._id ,productId:company._id})">
                                                                    <li class="products-li">{{company.name}}</li>
                                                                </ul>
                                                            </div>
                                                        </div></div></div>
                                        <div class="col-md-4" ng-if="value.length==1"></div>
                                        <div>
                                            
                                        </div>
                                        
                                        <!-- <div class="col-md-4" ng-if="s.length==1"></div> -->
                                        <!--//for grid 1-->
                                        <!--//for grid 2-->
                                        <div class="col-md-2" ng-if="value.length==2"></div>
                                        <div class="row"><div ng-repeat="value in companyName"   ng-if="value.length==2">
                                            <div class="col-md-4" ng-repeat="val in value" >
                                                    
                                                            <div class="door   margin0" >
                                                                <h2 class="text-left"  ui-sref="division({category:data[val][0].companyCategory.company._id})">{{val}}</h2>
                                                                <ul class="" ng-repeat="company in data[val]" ng-if="company.name" ui-sref="gallery({category:data[val][0].companyCategory.company._id ,productId:company._id})">
                                                                    <li class="products-li">{{company.name}}</li>
                                                                </ul>
                                                            </div>
                                                        </div></div></div>
                                        <!-- <div class="col-md-2 " ng-if="s.length==2 "></div> -->
                           
                            
                        
                    
                </div>
            </div>
        </section>
    </div>