<div class="bg-color">
<div class="container">
    <div class="row">
        <div class="content-padd">
        <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="content-padd">
            <div class="w235">
                <div>
                    <h4>Office Address</h4>
                </div>
                <div>
                    <label>Head Ofiice</label>
                    <address class="gcolor">339/1, Gala House, Mysore Road Campus, Anantramaiah Woolen Factory Compound, Bapuji Nagar, Mysore Road,
                        Bangalore - 560026
                        <label>Landmark:</label> Opp. Satellite Bus Stand
                        <label>Email:</label> veneersales@galagroup.in
                        <label>Phone:</label> 7338338822
               </address>
            </div>
            </div>
       </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
             <div class="w235">
             <div class="mar-t">
                 <label>Branch Ofiice</label>
                    <address class="gcolor">Gala Square, #125,Ground Floor, R.V. Road, V.V. Puram, Near Lalbagh West Gate, Bengaluru 560004,
                            <label>Email:</label> veneersales@galagroup.in
                            <label>Phone:</label> 7338338822 
                    </address>
                </div>
            </div>
             
        </div>
        </div>
    </div>
</div>