<div class="social-info text-center bg-img">
    <div class="container">
        <div class="row" ng-init='showme=false'>
            <div class="col-md-6">
                
                <div class="contact-details">
                    <h4 class="text-center contact-heading">CONTACT DETAILS </h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">*First Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="data.firstName" placeholder="Enter Name" ng-model="formData.firstName"
                                autofocus required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">*Last Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="data.lastName" placeholder="Enter Last Name" ng-model="formData.lastName"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">*Contact Number:</label>
                            <div class="col-sm-6">
                                <input type="tel" class="form-control" ng-model="data.contactNumber" placeholder="Enter Contact Number" minlength="10" maxlength="10"
                                    ng-model="formData.number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Message:</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" ng-model="data.message" rows="4" cols="35"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-click="saveEnquiry(data) " ng-model="formData.message">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="thanku" ng-if="submitmsg.value==true">
                        <p class="text-center">Thank You For Submiting</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div ng-hide="showme">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.2793705464983!2d77.54017821442001!3d12.95396681877088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3e128e9b9585%3A0xa49c5c7db89d879!2sGALA+FURNITURE+WORLD!5e0!3m2!1sen!2sin!4v1507890102639"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div ng-hide="!showme">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3215461462464!2d77.57761731485607!3d12.951264718828353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15e93745a019%3A0x49f580b6e533f34f!2sURO+VENEER+WORLD!5e0!3m2!1sen!2sin!4v1508220212208"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
