<div class="division">
    <section class="bg-division bg-divisions relative" ng-style="{'background-image':'url(' +subcategory[0].bannerImg + ')'}">
        <div class="overlay"></div>
        <div class="container">
            <h2 class="text-uppercase">{{subcategory[0].names}}</h2>
        </div>
    </section>
    <div class="division-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3  padding0">
                    <div class="bg-grey aside types-list text-center">
                        <h3>CATEGORIES</h3>
                        <!--<h4 class="text-capitalize ">door</h4>-->
                        <ul>
                            <li ng-repeat="s in subcategory"><a href="#">{{s.name}}</a></li>
                            <!--<li><a href="#">Exterior Cladding</a></li>
                            <li><a href="#">Decking </a></li>
                            <li><a href="#">Wallpaper</a></li>
                            <li><a href="#">Dupont Corian</a></li>
                            <li class="active"><a href="#">Door</a></li>-->
                        </ul>
                        <div class="thumb">
                            <img src="img/product/thumb.png" class="img-responsive" alt="thumb">
                        </div>
                    </div>
                </div>
                <div class="col-md-9 padding0">
                    <h3 class="text-center">PRODUCTS</h3>
                    <div class="text-center product relative">
                        <div class="handss1">
                            <img src="img/product/hand6.png" class="img-responsive" alt="product">
                        </div>
                        <div class="handss2">
                            <img src="img/product/hand8.png" class="img-responsive" alt="product">
                        </div>
                        <div class="row" ng-repeat="s1 in division1">
                            <div class="col-md-4" ng-repeat="s in s1">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img1" ng-style="{'background-image':'url(' +s.smallersImg + ')'}"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">{{s.namings}}</p>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img2"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img3"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 3</p>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!--<div class="row-flex">
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img4"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 4</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img5"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img6"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 6</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>