<div class="division">
    <section class="bg-division relative" style="background: url('{{banner.backgroundBanner | serverimage}}')">
        <div class="overlay"></div>
        <div class="container">
            <!--<div class="heart">
                <img src="img/product/heart.png" class="img-responsive" alt="heart">
            </div>-->
            <div class="category-name text-center"></div>
        </div>
    </section>
    <div class="division-info bg-img">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3  padding0">
                    <div class="bg-grey aside types-list text-center">
                        <h3 class="h3comName" ng-repeat="name in bannerName track by $index">{{name}}<span ng-if="$index>=0 && $index<bannerName.length-1"> /</span></h3>
                        <!--<h4 class="text-capitalize ">door</h4>-->
                        <ul class="padtb15">
                            <!--<li ng-repeat="s in companyproduct"><a ui-sref="divisions({divisioncategory:s.category,inner:s.name})">{{s.name}}</a></li>-->
                            <li ng-repeat="category in companyCategory track by $index"><a  ui-sref-active="active" ui-sref="divisions({product:category._id})" >{{category.name}}</a></li>
                            <!--<li><a href="#">Exterior Cladding</a></li>
                            <li><a href="#">Decking </a></li>
                            <li><a href="#">Wallpaper</a></li>
                            <li><a href="#">Dupont Corian</a></li>
                            <li class="active"><a href="#">Door</a></li>-->
                        </ul>
                        <div class="thumb">
                            <img src="img/product/thumb.png" class="img-responsive" alt="thumb">
                        </div>
                    </div>
                </div>
                <div class="col-md-9 padding0">
                    <h3 class="text-center">PRODUCTS</h3>
                    <div class="text-center product relative">
                        <!--<div class="handss1">
                            <img src="img/product/hand6.png" class="img-responsive" alt="product">
                        </div>
                        <div class="handss2">
                            <img src="img/product/hand8.png" class="img-responsive" alt="product">
                        </div>-->
                        <div class="row" ng-repeat="row in companyproductdata">
                            <div class="col-md-4" ng-repeat="product in row">
                                <div class="door door-shadow" ng-if="product.name != 'SOLID WOOD' && product.name !='ENGINEERED' && product.name !='LAMINATED FLOORING' && product.name !='EXOTIC BAMBOO' && product.name !='KAINDL VENEER' && product.name !='EXTERIOR DECK TILE'" ui-sref="gallery({category:company._id,productId:product._id})">
                                        <div class="" ng-if="product.images[0].bigImage!='' && product.images[0].bigImage!=null">
                                    <div class="door-img img1" style="background: url('{{product.images[0].bigImage | serverimage}}')"></div>
                                        </div>
                                                                                
                                    <div class="door-info" ng-if="product.name">
                                        <p class="text-uppercase">{{product.name}}</p>
                                    </div>
                                </div>
                               
                                
                                <div class="door door-shadow" ng-if="product.name=='SOLID WOOD'">
                                        <a  href="http://euroflooring.co.in/solid-wood/58edd69c1d42174d44801f5f">
                                            <div class="" ng-if="product.images[0].bigImage!='' && product.images[0].bigImage!=null">
                                            <div class="door-img img1" style="background: url('{{product.images[0].bigImage | serverimage}}')"></div>
                                            </div>
                                            <h3 class="text-center" ng-if="product.images[0].bigImage=='' && product.images[0].bigImage==null && !product.images[0].bigImage">No Products Available Right Now.</h3>                                            
                                            <div class="door-info" >
                                            <p class="pcolor text-uppercase">{{product.name}}</p>
                                    </div>
                                    </a>
                                </div>
                                <div class="door" ng-if="product.name=='ENGINEERED'">
                                        <a  href="http://euroflooring.co.in/engineered/58eddc351d42174d44802021">
                                            <div class="" ng-if="product.images[0].bigImage!='' && product.images[0].bigImage!=null">
                                            <div class="door-img img1" style="background: url('{{product.images[0].bigImage | serverimage}}')"></div>
                                    </div>
                                            <div class="door-info" >
                                           
                                            <p class="pcolor text-uppercase">{{product.name}}</p>
                                    </div>
                                    </a>
                                </div>
                                <div class="door door-shadow" ng-if="product.name=='LAMINATED FLOORING'">
                                        <a  href="http://euroflooring.co.in/laminated-flooring/58eddf0d1d42174d44802130">
                                            <div class="" ng-if="product.images[0].bigImage!='' && product.images[0].bigImage!=null">
                                            <div class="door-img img1" style="background: url('{{product.images[0].bigImage | serverimage}}')"></div>
                                   </div>
                                            <div class="door-info" >
                                           
                                            <p class="pcolor text-uppercase">{{product.name}}</p>
                                    </div>
                                    </a>
                                </div>
                                <div class="door door-shadow" ng-if="product.name=='EXOTIC BAMBOO'">
                                        <a  href="http://euroflooring.co.in/exotic-bamboo/58ede7401d42174d44802328">
                                            <div class="" ng-if="product.images[0].bigImage!='' && product.images[0].bigImage!=null">
                                            <div class="door-img img1" style="background: url('{{product.images[0].bigImage | serverimage}}')"></div>
                                            </div>
                                            <div class="door-info" >
                                           
                                            <p class="pcolor text-uppercase">{{product.name}}</p>
                                    </div>
                                    </a>
                                </div>
                                <div class="door door-shadow" ng-if="product.name=='KAINDL VENEER'">
                                        <a  href="http://euroflooring.co.in/kaindl-veneer/58edf3b61d42174d448024b9">
                                            <div class="" ng-if="product.images[0].bigImage!='' && product.images[0].bigImage!=null">
                                            <div class="door-img img1" style="background: url('{{product.images[0].bigImage | serverimage}}')"></div>
                                    </div>
                                            <div class="door-info" >
                                           
                                            <p class="pcolor text-uppercase">{{product.name}}</p>
                                    </div>
                                    </a>
                                </div>
                                <div class="door door-shadow" ng-if="product.name=='EXTERIOR DECK TILE'">
                                        <a  href="http://euroflooring.co.in/exterior-deck-tile/58ee2acc1d42174d448036e7">
                                            <div class="" ng-if="product.images[0].bigImage!='' && product.images[0].bigImage!=null">
                                            <div class="door-img img1" style="background: url('{{product.images[0].bigImage | serverimage}}')"></div>
                                  </div>
                                            <div class="door-info" >
                                           
                                            <p class="pcolor text-uppercase">{{product.name}}</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center" ng-if="companyproduct=='noDataound'">No Products Available Right Now.</h3>
                            <!--<div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img2"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img3"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 3</p>
                                    </div>
                                </div>
                            </div>-->
                       
                        <!--<div class="row-flex">
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img4"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 4</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img5"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="door" ui-sref="gallery">
                                    <div class="door-img img6"></div>
                                    <div class="door-info">
                                        <p class="text-uppercase">door 6</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading-img" ng-hide="loaded">
        
                <img src="img/loading.gif" class="img-responsive"> 
             </div>