<div class="division about bg-img">
    <section class="bg-division relative" style="background: url('{{banner.backgroundBanner | serverimage}}')">
        <div class="container">
            
            <div class="overlay">
            </div>
            <div class="category-name text-center">
                <h1></h1>
            </div>
        </div>
    </section>
    <section class="types-list text-center">
        <div class="container">
            <ul class="list-inline types">
                <li ng-repeat="category in companyCategory | orderBy:'order' track by $index">
                    <a  ui-sref="divisions({category:company._id,product:category._id,productName:category.name})">{{category.name}}</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- <div class="bg-changes">
        <div class="division-info main-list" style="background: url('{{banner.backgroundImage | serverimage}}')"> -->
            <div>
                <div class="container">
                    <div class="text-center product relative">
                        <div class="row" ng-repeat="s2 in companyCategoryData track by $index">
                            <div class="col-md-4 col-sm-4" ng-repeat="s in s2 | orderBy:'order' track by $index" ng-if="s2.length==3">
                                <div class="door door-shadow" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">
                                    <div class="overlay"></div>
                                    
                                    <div class="door-img img1" style="background: url('{{s.image | serverimage}}')"></div>
                                   
                                    <div class="door-info">
                                        <p class="" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">{{s.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4" ng-if="s2.length==1"></div>
                            <div class="col-md-4 col-sm-4" ng-repeat="s in s2 | orderBy:'order' track by $index" ng-if="s2.length==1">
                                    <div class="door door-shadow" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">
                                        <div class="overlay"></div>
                                        
                                        <div class="door-img img1" style="background: url('{{s.image | serverimage}}')"></div>
                                       
                                        <div class="door-info">
                                            <p class="" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">{{s.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4" ng-if="s2.length==1"></div>
                            <div class="col-md-2 col-sm-2" ng-if="s2.length==2"></div>
                            <div class="col-md-4 col-sm-4" ng-repeat="s in s2 | orderBy:'order' track by $index" ng-if="s2.length==2">
                                    <div class="door door-shadow" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">
                                        <div class="overlay"></div>
                                        
                                        <div class="door-img img1" style="background: url('{{s.image | serverimage}}')"></div>
                                       
                                        <div class="door-info">
                                            <p class="" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">{{s.name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <div class="col-md-4 col-sm-4" ng-if="s2.length==2" ng-repeat="s in s2">
                                <div class="door door-shadow" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">
                                    <div class="overlay"></div> -->
                                    <!-- <div class="bg-shadow"> -->
                                    <!-- <div class="door-img img4" style="background: url('{{s.image | serverimage}}')"></div>
                                </div>
                                    <div class="door-info">
                                        <p class="" ui-sref="divisions({category:company._id,product:s._id,productName:s.name})">{{s.name}}</p>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-md-2 col-sm-2" ng-if="s2.length==2"></div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="main-banner mar-top30">
                <section class="listings">
                        <div class="container">
                                <h1 class="text-capitalize brands">OUR BRANDS</h1>
                                
                                        <div class="our-brandInside">
                                
                                            <div class="container-fluid">
                                
                                                <div class="row">
                                                    <!-- <div class="col-md-2 pad-rem">
                                                        <div class="client-title">
                                                            <div class="img-holder">
                                                                <div class="title">
                                                                    <h1 class="head1">OUR</h1>
                                                                    <h1 class="head2">BRANDS</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                
                                
                                                    <div class="col-md-12">
                                
                                                        <div class="content-slider">
                                                            <div class="row pad-tb15 ">
                                                                <div class="col-md-12">
                                                                    <img src="{{companyBrands | serverimage}}" class="img-responsive marginb10" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                
                                
                                                    </div>
                                
                                
                                
                                
                                
                                                </div>
                                            </div>
                                        </div>
                        </div>
                        
                    </section>
           </div>
           
        </div>
    <!-- </div> -->
</div>
<div class="loading-img" ng-hide="loaded">
    <img src="img/loading.gif" class="img-responsive">
</div>