<div class="division">
    <section class="bg-division relative">
        <div class="overlay"></div>
 <div class="container">
     
<h2 class="text-uppercase">wood and moulding</h2>
    </div>
    </section>
   <div class="division-info">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-3 padding0">
                   <div class="bg-grey aside types-list text-center">
<h3 >CATEGORIES</h3>
<h4 class="text-capitalize ">door</h4>
<ul>
    <li><a href="">Dupont Corian</a></li>
    <li><a href="">Exterior Cladding</a></li>
    <li><a href="">Wallpaper</a></li>
    <li><a href="">Decking</a></li>
</ul>
                   </div>

               </div>
 <div class="col-md-9 padding0">
<h3 class="text-center">PRODUCTS</h3>
<div class="text-center product">
<div class="row-flex">
    <div class="col-flex">
        <div class="door">
            <div class="door-img img1"></div>
            <div class="door-info">
                <p class="text-uppercase">door 1</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door">
            <div class="door-img img2"></div>
            <div class="door-info">
                <p class="text-uppercase">door 2</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door"> 
            <div class="door-img img3"></div>
            <div class="door-info">
                <p class="text-uppercase">door 3</p>
            </div>
        </div>
    </div>
</div>
<div class="row-flex">
    <div class="col-flex">
        <div class="door">
            <div class="door-img img4"></div>
            <div class="door-info">
                <p class="text-uppercase">door 4</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door">
            <div class="door-img img5"></div>
            <div class="door-info">
                <p class="text-uppercase">door 5</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door"> 
            <div class="door-img img6"></div>
            <div class="door-info">
                <p class="text-uppercase">door 6</p>
            </div>
        </div>
    </div>
</div>
</div>
 </div>
           </div>
       </div>
   </div>
</div>