<div class="division about bg-img">
    <section class="bg-division relative" style="background: url('img/download.jpg')">
       
    </section>
         <div>
                <div class="container">
                    <div class="text-center download relative mar-top30">
                         <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="getpdf in PdfData">
              <div class="title">
                  <a  ng-href="{{getpdf.pdf|serverimage}}" target="_blank"><img ng-src="{{getpdf.image|serverimage}}" alt="" class="img-responsive" ></a>
              </div>
              <div >

              </div>
          </div>
      </div>
                    </div>
                </div>
            </div>
    </div>