
<div class="faq-banner division">
   <section class="bg-faq-banner relative">
        <div class="overlay"></div>
        <div class="container">
            <h2 class="text-uppercase">FAQ</h2>
        </div>
    </section>
</div>
<div class="container">
    <div class="faq-content">
        <uib-accordion>
            <div uib-accordion-group class=" panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Uro Veneer World
                          <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="question-list">
                <div class="faq-questions">
                    <h4>How many varieties of products are made available ?</h4>
                    <p>Having over 300 species &amp; 800 variants of veneer on display, we promise the best designs available
                        in India.
                    </p>
                </div>
                <div class="faq-questions">
                    <h4>What are the types of products offered?</h4>
                    <p>This division displayed a myriad of options of trendy laminate designs, Decorative panel designs, and
                        Plywood and Designer MDF sheets
                    </p>
                </div>
                <div class="faq-questions">
                    <h4>Why is the ply wood laminated?</h4>
                    <p>Lamination on plywood adds to the beauty of the product ensuring a lasting impression. The diverse possibilities
                        of using the product show its versatility.
                    </p>
                </div>
                <div class="faq-questions">
                    <h4>Easiest to install yet the most stunning to look at, seamless bends without cutting any corners.</h4>
                    <p>Corriano gives you the opportunity to help you discover the magic of zero maintenance and complete water,
                        termite resistant, pre-finished high-gloss embossed wall panels.
                    </p>
                </div>
                <div class="faq-questions">
                    <h4>What is a wood veneer?</h4>
                    <p>A wood veneer is a thinly sliced sheet of real wood from a wooden log.</p>
                </div>
                <div class="faq-questions">
                    <h4>What is peel and stick veneer?</h4>
                    <p>A Peel and stick veneer is a paper backed veneer or a wood backed veneer that comes with a self stick
                        adhesive.
                    </p>
                </div>
                <div class="faq-questions">
                    <h4>Which is better, the paper backed veneers or the wood backed veneers?</h4>
                    <p>Our customers like both types. Sometimes, such as for curved surfaces, the paper backed veneer would
                        be the best choice. Sometimes, such as for areas that get a lot of wear and tear or for uneven surfaces,
                        the wood backed veneer would be the best choice</p>
                </div>
                <div class="faq-questions">
                    <h4>What does MDF stand for?</h4>
                    <p>Medium Density Fiberboard.</p>
                </div>
                <div class="faq-questions">
                    <h4>What is MDF?</h4>
                    <p>MDF belongs to the hardboard family of products which are made from wood fibers glued under heat and
                        pressure. Medium Density Fiberboard typically has densities between 33 and 50 pounds per cubic feet
                        while High Density Fiberboard (HDF) ranges between 50</p>
                </div>
                <div class="faq-questions">
                    <h4>Is all MDF the same?</h4>
                    <p>No. MDF from different sources will vary in texture, density, color, etc.</p>
                </div>
                <div class="faq-questions">
                    <h4>What is stylite ?</h4>
                    <p>Stylite is a new, luxurious, wall covering collection of high-end faux leather tiles.</p>
                </div>
                <div class="faq-questions">
                    <h4>How is it different from others ?" </h4>
                    <p>The collection has been specifically created &amp; developed to provide artistic elements for commercial
                        and residential surfaces. The physical flexibility of makes them easily adaptable to a variety of
                        interiors.
                    </p>
                </div>
                <div class="faq-questions">
                    <h4>Are they available in different vareities ?" </h4>
                    <p>These are high performance products that provide numerous colour choices, textures, and size combinations
                        of infinite style creations for any taste.</p>
                </div>
                <div class="faq-questions">
                    <h4>What is Matrix wall ?</h4>
                    <p>Matrix Wall is work of art excellence &amp; alluring exuberance to your interiors. Unique designs with
                        depth perception spin magic on the onlookers mind.</p>
                </div>
                <div class="faq-questions">
                    <h4>What does Matrix Wall provides ?</h4>
                    <p>Panels in different shapes, colours, patterns and textures. There is a great selection of products which
                        can be suitable for any colour combinations.</p>
                </div>
                <div class="faq-questions">
                    <h4>What is the average thickness in which the matrix wall is offered?</h4>
                    <p>The product is made available in different sizes with thickness range of 32mm – 55mm. Panels offer 100%
                        water resistance and excellent noise absorption.</p>
                </div>
                <div class="faq-questions">
                    <h4>Is the Matrix wall difficult to apply on the surfaces ?</h4>
                    <p>Direct application on wall not only saves a lot of time but also costs</p>
                </div>
                <div class="faq-questions">
                    <h4>Is there any maintenance required for Corriano ?</h4>
                    <p>Corriano gives you the opportunity to help you discover the magic of zero maintenance and complete water,
                        termite resistant, pre-finished high-gloss embossed wall panels.</p>
                </div>
                <div class="faq-questions">
                    <h4>Are there many varieties of laminated ply woods ?</h4>
                    <p>They are available in variety of colours, textures and finishes. This benefits the customer in easily
                        matching with the requirments</p>
                </div>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class=" panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Wood and Mouldings
                           <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What is Corrian ?</h4></strong></div>
                    <p>This product is a modern invention and a substitute to existing raw materials such as granite
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>what are the applications of corian?</h4></strong></div>
                    <p>Its wide application comprise of kitchen slabs, table tops, book shelves and many more.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the major advantages of Corian ?</h4></strong></div>
                    <p>Solid Surface gives its customer an added advantage with rich colour options and the compatibility of
                        various combinations.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is the purpose of using wallpapers ?</h4></strong></div>
                    <p>Wallpapers help you create an ambience of your choice without much difficulties.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are the wallpapers available in different designs ?</h4></strong></div>
                    <p>Yes, the wallpapers are available in different varieties ranging from which designs inspired by nature
                        to a fantasy world of Disney wallpapers
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4 class="">How many designs are available on an average ?</h4></strong></div>
                    <p>Gala Group holds over 15,000 designs with the finest manufacturers of the wallpapers in the world
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the major specification of the Uro Marine Ply ?</h4></strong></div>
                    <p>Euro Marine Ply is specially made to withstand rigorous condition of climatic changes, humidity level
                        and other weather elements, Made from hardwood and bonded with high quality phenol forma ldehyde
                        (PF) resin, Euro ply is well protected from fungi, termites and borers its bonding is intact even
                        after 72 hours of boiling
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Is Corrian heat resistant ?</h4></strong></div>
                    <p>Unlike natural stone,&nbsp;Corian countertops never require sealing. We do not recommend placing a hot
                        pot directly on&nbsp;Corian surfaces. Although&nbsp;Corian solid surface remains stable and undamaged
                        in temperatures up to 212ºF (100ºC), highheat&nbsp;or flame will damage your surface. In most cases,
                        this damage can be repaired
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Why should I buy plywood at all?</h4></strong></div>
                    <p>It is eco friendly, technically superior and user friendly. It has greater dimensional stability and
                        is cheaper. It is not only economical but also technically stronger, thereby vastly reducing investment.
                        Further, now a days plywood are environment friendly and helps in preservation of Forests. It generally
                        uses plantation timber.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How different it is from timber?</h4></strong></div>
                    <p>Technically it is three time stronger. Plywood is engineered panel which is 200% stronger then timber
                        and is an economical replacement.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is meant by waterproof or non-waterproof?</h4></strong></div>
                    <p>It is referred to the grade of plywood, based on whether it delaminates when in contact with water or
                        not . This refers to the bonding of the layers (ply).
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Which is a better panel, board or ply?</h4></strong></div>
                    <p>Strength and durability lies better in plywood. Block board has specific uses only, mainly in cupboard
                        shutters. Preferences differ from places. Northern and Eastern India prefers Block Boards whereas
                        Southern and Western India prefers Ply.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>As compared to Plywood, I believe Solid Wood is more durable and longer lasting, so why Plywood?</h4></strong></div>
                    <p>Innovation is rarely possible with wood, only Plywood or an allied product gives you that advantage.
                        You understand that smartness and style are as important as heritage and aesthetics, so are flexibility
                        and creativity beyond rigidity and routine
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Can I leave waterproof plywood furniture outside, in the rainy season?</h4></strong></div>
                    <p>No. Even waterproof furniture has a limit to which it can resist moisture. A few spills won’t hurt the
                        plywood, but more than that and it will spell trouble for the furniture.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are water resistant plywood and marine plywood the same?</h4></strong></div>
                    <p>Absolutely not. Water resistant plywood can resist water up to some extent. It can easily withstand the
                        occasional splash of water, or frequent exposure to humidity with ease. However, marine plywood has
                        much higher water resistance
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How is plywood made?</h4></strong></div>
                    <p>Plywood is composed of many layers, which are called plies or veneers.The plies are then sandwiched together
                        with a resin (glue) and pressed with enormous pressure. The plywood is then cut into standard lengths.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How is Corrian advantageous over Granite ?</h4></strong></div>
                    <p>&nbsp;Granite&nbsp;is unlikely to ever go out of style, the choice for countertop surfaces extends far
                        beyond granite and includes synthetic surfaces like Corian,Corian is a homogenous and also stain
                        resistant and is available in different colours.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Can the wallpapers be applied on the existing wall ?</h4></strong></div>
                    <p>Yes, these wallpapers posess the advantage of easy application on the existing walls
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are the products available in different varieties ?</h4></strong></div>
                    <p>Gala group holds more than 15000 designs of wallpapers of the finest designers in the world.</p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class=" panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Mahaveer Corporations
                           <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What is ACP?</h4></strong></div>
                    <p>ACP (Aluminium Composite Panel) is a sandwich panel of LDPE and HDPE core between the two aluminum skins.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is EUROBOND-FR ?</h4></strong></div>
                    <p>EUROBOND-FR is an aluminum composite panel (ACP) with a non-combustible mineral-filled core.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>For what purpose can Eurobond be used ?</h4></strong></div>
                    <p>Used as an exterior and interior cladding and roof covering on new buildings and retrofit applications
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Where can we buy Eurobond ?</h4></strong></div>
                    <p>the material is manufactured by Eurobond Industries Pvt. Ltd., and furnished by approved dealers or distributors.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the major composition of Eurobond ?</h4></strong></div>
                    <p>EUROBOND-FR is composed of a non-combustible mineral-filled core sandwiched between two skins of 0.5mm
                        thick aluminum alloy (1100-H18)
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Is Eurobond anti corrosive ?</h4></strong></div>
                    <p>The surface is finished with a high-performance KYNAR 500 based fluorocarbon coating, and the back is
                        a anti corrosive coating or service coating.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Is Eurobond available in different colours ?</h4></strong></div>
                    <p>EUROBOND-FR is available in Solid Colors and Metallic Colors.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How long does the protective film withstand without peeling off ?</h4></strong></div>
                    <p>According to weathering tests under normal outdoor conditions, the protective film will withstand six
                        months' exposure without losing its original peel-off characteristic or causing stains or other damages.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Which are the grades in which Euro bond is offered ?</h4></strong></div>
                    <p>Eurobond is available in a wide variety of Platinum, Pearl, Ruby, Gold, Wooden, Emerald, Crystal, Marble,
                        Diamond, Mirror &amp; Fire grades.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>For what Reasons why one should use Eurobond ?</h4></strong></div>
                    <p>Weather Durability,environmental friendly, corrosion resistance, sound resistance, thermal resistance,
                        maintenance free, decorative and attractive, superior flexibility, non hazardous.
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class=" panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Euro Ceramic World
                        <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What does Euro ceramic world offer ?</h4></strong></div>
                    <p>EURO CERAMIC WORLD has the widest range of vitrified and ceramic tiles manufactured byEURO
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What all varieties of tiles are offered to the customers ?</h4></strong></div>
                    <p>Tiles are available in various patterns such as marble, 3D floral, Spanish designer tiles, digital print
                        and many more
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are the tiles durable ?</h4></strong></div>
                    <p>The tiles are durable and easy to maintain. These tiles does not rquire much cost for maintenance.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Can the customer select the combinations of tiles according to their interests ?</h4></strong></div>
                    <p>The tiles can be placed in various combinations and the vast showroom displays various possibilities
                        from which the customer can choose from.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>&nbsp;How do granite and marble compare to other solid surface countertops</h4></strong></div>
                    <p>Granite is one of the most durable, maintenance-free countertop materials available. Granite is a natural
                        material made of very hard igneous rock that is second only in hardness and compacted strength to
                        diamonds. As a result of its geological composition, granite is stain, scratch, and burn resistant.
                        Easy to care for and much desired for its natural beauty,
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Can floor tiles be used on the wall ?</h4></strong></div>
                    <p>Yes, you may, but never use a wall tile on the floor.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Will the tiles fade over time if exoised to direct sunlight ?</h4></strong></div>
                    <p>No. A tile’s color and glaze are fired on at temperature up to 1200 degree centigrade. This allows tile
                        to be installed in sunrooms, outdoors, or any other sunny places without concern about fading
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are all tiles stain resistant ?</h4></strong></div>
                    <p>No, all tile are not stain resistant, stain resistance depends on the water absorption.(WA) The higher
                        the WA lower the stain resistance and vice versa vitrified tiles have high stain resistance because
                        of their very low WA. A glazed surface will be highly stain resistant as water absorption from the
                        glazed surface is NIL.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is meant by a bonding material ?</h4></strong></div>
                    <p>ny mortar or adhesive used to install tile is known as bonding material. The choice of bonding material
                        depends upon the selection of tile and the requirements of the area to be tiled.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are tile spacers ?</h4></strong></div>
                    <p>Plastic, rubber, wood or rope used in wall or floor installations to separate tiles is termed as spacer.
                        They are used during installation to maintain even joint width between tiles.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Does bleach attack Porcelein tiles ?</h4></strong></div>
                    <p>Bleach is a diluted solution of sodium hypochlorite. It has an alkaline pH which does not attack the
                        surface of porcelain or glazed tiles.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How do I maintain or care for Vitrified tiles ?</h4></strong></div>
                    <p>No need to wax or polish glazed Tiles. Simply wiping glazed Tile with a damp sponge or sponge mop is
                        all that is necessary for daily maintenance. In case stains persist if it is not removed with detergent,
                        use diluted hydrochloric acid or muriatic acid.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are all tiles water resistant ?</h4></strong></div>
                    <p>Most tiles can be used in wet areas, when purchasing tiles for areas such as a bathroom or Kitchen you
                        need to consider the slip resistance and water absorption rating.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are tiles heat resistant for areas around kitchen and stove or fire ?</h4></strong></div>
                    <p>Tiles are heat-resistant and can be used as fireplace surrounds. When using a tile in a high temperature
                        environment, ensure that your adhesive and binding materials are also heat resistant.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Can ceramic tiles be used outdoors ?</h4></strong> </div>
                    <p>Vitrified tiles with mat or rustic surface can be used outdoors. The choice or ceramic or vitrified body
                        will depend on the exact outdoor area.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Is it possible to fit new tiles on an old tiled floor ?</h4></strong></div>
                    <p>Yes, it is definitely possible to fit new tiles on top of an old tiled floor provided that none of the
                        underneath tiles are loose or uneven. However it is not advisable as the cost would be high and you
                        would be reducing the headroom (height between the floor and the ceiling). However if you still want
                        to go ahead, then see that the existing surface provides a good grip. If the existing flooring is
                        of glazed tiles then they have to be roughened to give a good grip for the new floor.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are Vitrified tiles ?</h4></strong></div>
                    <p>Vitrified tiles are non-glazed tiles. Their hardness and polish is achieved by virtue of the pressing
                        together of very hard materials. Vitrified tiles are extremely strong and durable and processed in
                        such a way that they allow for very little water absorption.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are Porcelein tiles ?</h4></strong></div>
                    <p>Porcelain tiles are made from a blend of fine-grain clays and other minerals to produce a very dense
                        body, which makes them highly resistant to moisture, staining and wear. These tiles are more dense
                        than ceramic tiles and have water absorption of &gt;0.5% and &lt;3%. Because porcelain tiles have
                        low water absorption, they are usually frost resistant.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Will the tiles once installed crack ?</h4></strong></div>
                    <p>When tile is installed properly it will not crack. It is possible to chip a tile when heavy objects are
                        dropped on the surface
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class=" panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase"> Euro Hardware World
                        <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What does Euro Hardware world offer ?</h4></strong></div>
                    <p>Euro Hardware world offers the finest accessories for your interiors. It provides our architects and
                        customers strong hardware solutions
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is the major speciality luxury product offered by us ?</h4></strong></div>
                    <p>We offer products which are studded with swarovski which beautifies each and every miute components.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the products offered under the Euro hardware world ?</h4></strong></div>
                    <p>Euro Hardware World constitutes a variety of products such as wardrobe side fittings, kitchen baskets
                        &amp; accessories, Glass fittings, bathroom accessories, shower enclosure fittings, Glass door/window
                        fittings &amp; S.S railings.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Which are the brands that are available in Euro Hardware world ?</h4></strong></div>
                    <p>The multi brand store allows you to select from the finest manufactures from across the globe such as&nbsp;PAG,
                        YALE, DECOR, LABACHA, GODREJand many more.
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Euro flooring
                          <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What is Euro flooring all about ?</h4></strong></div>
                    <p>Euro Flooring Pvt. Ltd. is one of the largest importers of wooden flooring products in India.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the main products offered by Euro Flooring Pvt Ltd. ?</h4></strong></div>
                    <p>Our product range includes Laminated, Solid wood, Bamboo, Engineered Hardwood, Exterior deck, and Sports
                        Wood flooring.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Does the products offered cope up to any standards ?</h4></strong></div>
                    <p>All our products are manufactured in line according to European norms with highest technical specifications
                        and are finest quality, customised to match Indian micro- climatic conditions
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is EKOPARKETT ?</h4></strong></div>
                    <p>It offers a wide range of high quality wooden floors that can be found in various textures and finishes
                        to satisfy the needs of our clients.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Are EKOPARKETT products natural ?</h4></strong></div>
                    <p>All Eko Parkett products are natural – made with 100% wood keeping in mind the varied taste of our clients
                        and their love towards mother earth
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is engineered hardwood flooring?</h4></strong></div>
                    <p>Engineered hardwood flooring is a product made up of a core of hardwood, plywood or HDF and a top layer
                        of hardwood veneer that is glued on the top surface of the core and is available in almost any hardwood
                        species. The product thus has the natural characteristics of the selected wood species as opposed
                        to a photographic layer.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is the main advantage in using engineered hardwood floors ?</h4></strong></div>
                    <p>The “engineered” product has been designed to provide greater stability, particularly where moisture
                        or heat pose problems for solid hardwood floors.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the benefits of engineered hardwood over laminate and solid hardwood floor?</h4></strong></div>
                    <p>&nbsp;Engineered harwood is more versatile and stable than solid hardwood and laminate; more resistant
                        to moisture and humidity than solid hardwood.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How many layers does engineered flooring have?</h4></strong></div>
                    <p>In addition to the top hardwood veneer, engineered wood flooring typically has three or more layers.
                        Generally, there is greater stability with more layers. The core layers may be plywood, high density
                        fiberboard, or hardwood.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are laminate floors and how are they made?</h4></strong></div>
                    <p>&nbsp;Laminate flooring is a versatile, durable, attractive flooring with the appearance of a hardwood
                        floor. Although laminate flooring looks like wood flooring, there is actually no solid wood used
                        in its construction. Laminate floors are made up of several materials bonded together under high
                        pressure. Most laminate flooring consists of a moisture resistant layer under a layer of HDF (high
                        density fiberboard). This is topped with a high resolution photographic image of natural wood flooring.
                        It is then finished with an extremely hard, clear coating made from special resin-coated cellulose
                        to protect the laminate flooring.
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Euro Bath world
                         <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What is offered in bath world ?</h4></strong></div>
                    <p>BATH WORLD enriches your home by offering a soothing bathing experience
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the major brands offered by bath world ?</h4></strong></div>
                    <p>JAQUAR, KOHLER, GROHE, DURAVIT, HINDWARE, RAK, NITCO are the brands offered by Bathworld
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Why is it said that it is eco friendly ?</h4></strong></div>
                    <p>The products have progressed with technology making it a comfortable experience. With better flushing
                        techniques, the products generate greater results using limited water.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What type of products are offered in bath world ?</h4></strong></div>
                    <p>We offer the widest range of bathing products coupled with vitrified and ceramic tiles that complete
                        all your flooring requirements.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How do you remove scratches from stainless steel sinks?</h4></strong></div>
                    <p>First, make sure you use a good stainless steel cleaner. Once you’re done cleaning, follow up with good
                        stainless steel polish. Cleaning will only blend in light scratches; deep scratches may require more
                        work or sink replacement.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are&nbsp;antimicrobial seats?</h4></strong></div>
                    <p>Antimicrobial seats are toilet seats with an antimicrobial agent formed into the plastic to inhibit the
                        growth of odor-causing bacteria, mold, and mildew
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>Can a wall tile be used on a floor?</h4></strong></div>
                    <p>No. Wall tiles have a weaker glaze and body and will wear prematurely. It is also not as resistant to
                        impact and stress when used as a floor finish and may spall, chip and crack. However, a floor tile
                        can definitely be used on walls.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What cleaning material do you recommend to clean the bathware unit?</h4></strong></div>
                    <p>General cleaning agents can clean the bathware units easily.
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Vriddhi woods
                          <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What are the major products offered by vriddhi woods ?</h4></strong></div>
                    <p>Vriddhi woods offer products such as decorative lumber (wood) like beachwood, maple walnut, burma teak&nbsp;
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>For what purposes are these materials normslly used for ?</h4></strong></div>
                    <p>These material are used to provide a variety of interior solutions ranging from furniture to a structural
                        backbone
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is laminated beechwood?</h4></strong></div>
                    <p>Laminated beechwood&nbsp;is a natural insulating wood material that is used in applications that require
                        high tensile and compressive strength. It consists of multiple layers of wood that are bonded together
                        under vacuum conditions to generate a required overall thickness.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the Advantages of Burma teak ?</h4></strong></div>
                    <p>Burma Teak is popular for its durability and resistance to water, It is outstanding in retention of shape
                        and durability and is naturally durable,It is easy to handle, polish and work with so a lot of carved
                        designs can be made, Teak wood is hard, thereby making it resistant to termite, It is immune to white
                        ants and insect attack
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the uses of Burma teaks ?</h4></strong></div>
                    <p>Our Burma teak cut sizes can be mainly used for flooring, claddings and any kind of furniture. Apart
                        from various household furnitures such as doors, window frames, shutter
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How long will treated wood last?</h4></strong></div>
                    <p>Treated woods are meant to be used for a lifetime.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are these products used for ?</h4></strong></div>
                    <p>The versatile material is used to provide a variety of interior solutions ranging from furniture to a
                        structural backbone.
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Hafel and Blum
                         <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What is Hafel and Blum all about ?</h4></strong></div>
                    <p>Hafele&nbsp;and&nbsp;Blum&nbsp;bring you a splendid selection of kitchen fittings and accessories that
                        seamlessly merge form and functionality.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the major products offered by Hafel and Blum ?</h4></strong></div>
                    <p>We offer Products such as Kitchen drawers, shelves and storage units draw from state-of-the art design
                        to provide an environment that is smart and elegant and makes the best utilisation of space.
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Drapes world
                           <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                <div class="faq-questions">
                    <div><strong><h4>What are the major brands in the drapes world?</h4></strong></div>
                    <p>Raymond, Livanto, Portico, Kanchi, F&amp;F, DC Tex Furnishing.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How do I select a curtain fabric</h4></strong></div>
                    <p>Determine what your needs are for a particular room, what types of fabric you prefer and if want lined
                        or unlined curtains. Laces and sheers are light and airy, while heavier cottons and silks create
                        a warmer look.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the types of curtains that are available ?</h4></strong></div>
                    <p>Drapes World&nbsp;brings a wide selection of cotton, linen, silk and polyester curtains that add flavour
                        and character to any interior
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What types of fabrics are used in your window treatments?</h4></strong></div>
                    <p>Our curtains are made from easy-care fabrics such as cotton, polyester and washable silk.&nbsp;
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How do I select a curtain style for my room?</h4></strong></div>
                    <p>Think about the function of your room and decide whether you want a formal, semi-formal or casual look.
                        Formal window treatments, found in dining rooms and living rooms, are usually layered and made from
                        heavy fabrics. Scarf treatments or valances create a semi-formal or casual look.&nbsp;
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What types of fabrics are used in your window treatments?</h4></strong></div>
                    <p>Our curtains are made from easy-care fabrics such as cotton, polyester and washable silk.&nbsp;
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>How can drapes world be differentiated from our competitors ?</h4></strong></div>
                    <p>The division is also a pioneer in curtain systems and blinds ranging from Venetian, Roman, Vertical and
                        Roller blinds. These products ensure privacy with an aesthetic appeal.Luxury and comfort are woven
                        into one at Drapes World To achieve a unified interior that adds appeal and style to a home.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the other products you offer apart from the primary products ?</h4></strong></div>
                    <p>The depth of materials we deal with stretches to fabric panelling where we customise head boards using
                        various fabrics and foams. To add to attention to detail,&nbsp;Drapes World&nbsp;provides carpets
                        and mattresses.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What are the differences between the all-foam and innerspring mattresses?</h4></strong></div>
                    <p>The all foam models have a core made entirely of foam. A top and bottom layer of foam are added to create
                        dual firmness comfort. The innerspring models have an innerspring coil core, which is encapsulated
                        on all sides, top, and bottom with foam, creating a “sandwich” like construction.
                    </p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is the difference between organic cotton and natural cotton?</h4></strong></div>
                    <p>Content here....</p>
                </div>
                <div class="faq-questions">
                    <div><strong><h4>What is latex foam ?</h4></strong></div>
                    <p>Latex is the milky white liquid consisting of minute rubber particles from the sap of the rubber tree.
                        Latex foam is a naturally made bio-degradable product and is completely non-allergenic. Latex foam
                        is resistant to dust mites than ordinary mattresses. Latex rubber products can last up to 30 years
                    </p>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <h5 class="text-uppercase">Gala Furniture World
                         <i class="pull-right fa  down-arrow " ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
                    </h5>
                </uib-accordion-heading>
                    <div class="faq-questions">
                        <div><strong><h4>What all types of furnitures are available ?</h4></strong></div>
                        <p>Leather sofas, Electric Recliners, Fabric, etc.</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>What are the major services offered by furn world?</h4></strong></div>
                        <p>Sofas, dining tables, dining chairs, outdoor furnitures including garden furnitures</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>How can I get in touch with you?</h4></strong></div>
                        <p>Contact us on 080 26749845, 26756066 or visit our website http://galagroup.in</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>Dining tables with what capacities are normally offered ?</h4></strong></div>
                        <p>Gala furniture world offers dining tables of different occupancies.There are dining with 6seater,
                            8seater and 10seater.</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>What are the basic preventive care taken for the outdoor furniture ?</h4></strong></div>
                        <p>Dust regularly with small brush or vacuum. Spills should be taken care of immediately before they
                            harden or stain, by wiping with a sponge wrung from sudsy water.</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>Do the outdoor furniture has the ability to withstand the outdoor conditions?</h4></strong></div>
                        <p>Outdoor furniture is designed and built keeping in mind the extreme temperature and harsh environment
                            of the outdoors.</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>Do you provide products which are made of eco friendly materials ?</h4></strong></div>
                        <p>Yes, Gala group have taken utmost care in manufacturing products with materials which are environmental
                            friendly .</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>Does Gala provide furnitures that matches with the requirement of the customers ?</h4></strong></div>
                        <p>Gala brings about some of the vibrant collections of furniture to match your home decor and your
                            lifestyle, We provide a combination of the colour, Designs and textures of the fabric which we
                            have to match to the interiors.</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>What quality does the leather offers ?</h4></strong></div>
                        <p>Gala Offers the best quality leather which is long lasting. we have made sure that our customers
                            get the products of qualitative standards adhered to guarantee and best value for money</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>What is a faux leather chair ?</h4></strong></div>
                        <p>Faux leather is a leather which is made inorder to substitute origina leather, in most cases faux
                            leathers are found to be more durable than real leathers.</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>What is patricia chair ?</h4></strong></div>
                        <p>Patricia chair is a practical masterpiece with steel frame covered in soft Italian leather, back
                            feet in chromed steel, matt white or graphite painted steel.</p>
                    </div>
                    <div class="faq-questions">
                        <div><strong><h4>What maintenance care should be taken on the outdoor furniture ?</h4></strong></div>
                        <p>Dust regularly with small brush or vacuum. Spills should be taken care of immediately before they
                            harden or stain, by wiping with a sponge wrung from sudsy water.</p>
                    </div>
            </div>
        </uib-accordion>
    </div>
</div>