<div class="main-banner ">
<div class="relative">
<!--<div class="flex-bg">
    <img src="img/home/bg.png" class="img-responsive" alt="bg">
    </div>-->
<flex-slider flex-slide="s in mySlides" class="mt10" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>
</div>

   <section class="listings">
        <div class="container">
            <h1 class="text-capitalize text-right">our offerings</h1>
    <div class="about-info">
       <div class="text-center product">
<div class="row-flex">
    <div class="col-flex">
        <div class="door margin0" ui-sref="about">
            <div class="door-img img1"></div>
            <div class="door-info">
                <p class="text-capitalize">uro veener world</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door margin0">
            <div class="door-img img2"></div>
            <div class="door-info">
                <p class="text-capitalize">wood &amp; mouldings</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door margin0"> 
            <div class="door-img img3"></div>
            <div class="door-info">
                <p class="text-capitalize">bath world</p>
            </div>
        </div>
    </div>
</div>
<div class="row-flex">
    <div class="col-flex">
        <div class="door">
            <div class="door-img img4"></div>
            <div class="door-info">
                <p class="text-capitalize">gala hardware worlds</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door">
            <div class="door-img img5"></div>
            <div class="door-info">
                <p class="text-capitalize">gala stone worlds</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door"> 
            <div class="door-img img6"></div>
            <div class="door-info">
                <p class="text-capitalize">gala furniture worlds</p>
            </div>
        </div>
    </div>
</div>
<div class="row-flex">
    <div class="col-flex">
        <div class="door">
            <div class="door-img img7"></div>
            <div class="door-info">
                <p class="text-capitalize">euro lighting world</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door">
            <div class="door-img img8"></div>
            <div class="door-info">
                <p class="text-capitalize">gala drapes world</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
         <div class="door"> 
            <div class="door-img img9"></div>
            <div class="door-info">
                <p class="text-capitalize">gala kitchen world</p>
            </div>
        </div>
    </div>
</div>
<div class="row-flex">
    <div class="col-flex">
    </div>
    <div class="col-flex">
         <div class="door">
            <div class="door-img img10"></div>
            <div class="door-info">
                <p class="text-capitalize">mahavir corporation (India)</p>
            </div>
        </div>
    </div>
    <div class="col-flex">
    </div>
</div>
</div>
    </div>
    </div>
   </section>
<section class="abouts ">
     <div class="container">
          <h1 class="text-capitalize offers whitey">about us</h1>
          <p class="creativity">creativity is limitless </br> and so are the ways to expressions !</p>
    <div class="about-info">
        <div class="about-data text-right ">
            <p class="whitey">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur voluptatum atque deleniti distinctio incidunt, enim molestiae, error beatae reprehenderit expedita fugit culpa nulla! Iste minima, optio sed, quo assumenda consequuntur.</p>
        </div>
        <div class="about-img">
            <img src="img/home/11.jpg" class="img-responsive" alt="">
        </div>
    </div>
    </div>
</section>
</div>
