<div class="main-banner ">
    <div class="relative flexslides homeslider">
        <flex-slider flex-slide="s in banner track by $index" class="mt10" prev-text="" next-text="">
            <li>
                <img ng-src="{{s.image | serverimage}}" class="img-full">
            </li>
        </flex-slider>
    </div>
    <section class="listings">
        <div class="container">
            <h1 class="text-capitalize font-size">Group Activities</h1>
            <div class="about-info">
                <div class="text-center product">
                    <div class="row" ng-repeat="s in companyData">
                        <!--//for grid 3-->
                        <div class="col-md-4" ng-repeat="company in s" ng-if="s.length==3">
                            <div class="door margin0" ui-sref="division({category:company._id,categoryName:company.name})">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                        </div>
                        <!--//for grid 3-->
                        <!--//for grid 1-->
                        <div class="col-md-4" ng-if="s.length==1"></div>
                        <div class="col-md-4" ng-repeat="company in s" ng-if="s.length==1">
                            <div class="door margin0" ui-sref="division({category:company._id})">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="s.length==1"></div>
                        <!--//for grid 1-->
                        <!--//for grid 2-->
                        <div class="col-md-2" ng-if="s.length==2"></div>
                        <div class="col-md-4" ng-repeat="company in s" ng-if="s.length==2">
                            <div class="door margin0" ui-sref="division({category:company._id})">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="s.length==2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="listings">
        <div class="container">
            <h1 class="text-capitalize font-size">Category</h1>
            <div class="about-info">
                <div class="product cat-list">
                    <div class="row" ng-repeat="(key,val) in data track by $index" ng-if="$index<=2">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="padd" >
                                <h3 class="color">{{key}}</h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="p in val | limitTo : 4 : 0 ">
                            <div class="padd" ui-sref="divisions({category:p.company._id,product:p._id})">
                                <div class="door">
                                    <div class="overlay"></div>
                                    <img src="{{p.image | serverimage}}" class="img-responsive">
                                    <div class="door-info">
                                        <p class="text-uppercase text-center">{{p.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-more text-right">
                <p><a ui-sref="allProduct">View More Categories</a></p>
            </div>
        </div>
    </section>
    <!-- <section class="listings">
        <div class="container">
            <h1 class="text-capitalize">Group Products</h1>
            <div class="about-info">
                <div class="product cat-list">
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="padd" >
                                <h3>Bath World</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="padd" ui-sref="divisions({category:p.company._id,product:p._id})">
                                <div class="door">
                                    <div class="overlay"></div>
                                    <img src="img/home/Bath world.jpg" class="img-responsive"> -->
                                    <!-- <div class="door-info">
                                        <p class="text-uppercase text-center">{{p.name}}</p>
                                    </div> -->
                                <!-- </div>
                            </div>
                        </div>
                        <section class="types-list text-center">
                            <div class="container">
                                <ul class="list-inline types">
                                    <li>
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">CP Fittings</a>
                                    </li>
                                    <li >
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">Faucets</a>
                                    </li>
                                    <li>
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">Flooring Tiles</a>
                                    </li>
                                    <li>
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">Kitchen Sinks</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="padd" >
                                <h3>Euro Lightning World</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="padd" ui-sref="divisions({category:p.company._id,product:p._id})">
                                <div class="door">
                                    <div class="overlay"></div>
                                    <img src="img/home/Euro lighting world.jpg" class="img-responsive"> -->
                                    <!-- <div class="door-info">
                                        <p class="text-uppercase text-center">{{p.name}}</p>
                                    </div> -->
                                <!-- </div>
                            </div>
                        </div>
                        <section class="types-list text-center">
                            <div class="container">
                                <ul class="list-inline types">
                                    <li>
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">Ceiling Fans</a>
                                    </li>
                                    <li >
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">Decoratives</a>
                                    </li>
                                    <li>
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">Designer Lights</a>
                                    </li>
                                    <li>
                                        <a  ui-sref="divisions({category:company._id,product:category._id})">Light Fixtures</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div> -->
            <!-- <div class="view-more text-right">
                <p><a ui-sref="allProduct">View More</a></p>
            </div> -->
        <!-- </div>
    </section>
    <section class="listings">
    <div class="our-client">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 pad-rem">
                        <div class="client-title">
                            <div class="img-holder">
                                <div class="title">
                                    <h1 class="head1">OUR</h1>
                                    <h1 class="head2">BRANDS</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 pad-rem">
                        <div class="content-slider">
                            <div class="row pad-tb15" >
                                <div class="col-md-2" >
                                    <img src="img/home/client1.png" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-2" >
                                        <img src="img/home/client2.png" class="img-responsive" alt="">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section> -->
    <section class="abouts ">
        <div class="container">
            <h1 class="text-capitalize offers whitey">about us</h1>
            <p class="creativity"> "creativity is limitless and so are the ways to expressions !" </p>
            <div class="about-info">
                <div class="about-data text-right ">
                    <p class="whitey text-left">Our vision is to bring your dream space alive. We belive that a house can only be turned into the home,
                        When it evoke emotions in its residents and is installed with the memorable moments. We at Gala,
                        offers modern interior design solutions with the touch of elegant architecture, and much more. With
                        a variety of high quality and luxury home décor products, we make your idea of a dream home, come
                        to life. </p>
                    <div>
                        <a ui-sref="aboutUs">Know More</a>
                    </div>
                </div>
                <div class="about-img">
                    <img src="img/home/11.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
<div class="loading-img" ng-hide="loaded">
    <img src="img/loading.gif" class="img-responsive">
</div>
<!-- <div class="main-banner ">
    <div class="relative flexslides homeslider">
        <flex-slider flex-slide="s in banner track by $index" class="mt10" prev-text="" next-text="">
            <li>
                <img ng-src="{{s.image | serverimage}}" class="img-full">
            </li>
        </flex-slider>
    </div> -->
    <!-- <section class="listings">
        <div class="container">
            <h1 class="text-capitalize text-right">Group Activities</h1>
            <div class="about-info">
                <div class="text-center product">
                    <div class="row" ng-repeat="s in companyData"> -->
                        <!--//for grid 3-->
                        <!-- <div class="col-md-4" ng-repeat="company in s" ng-if="s.length==3">
                            <div class="door margin0" ui-sref="division({category:company._id,categoryName:company.name})">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                        </div> -->
                        <!--//for grid 3-->
                        <!--//for grid 1-->
                        <!-- <div class="col-md-4" ng-if="s.length==1"></div>
                        <div class="col-md-4" ng-repeat="company in s" ng-if="s.length==1">
                            <div class="door margin0" ui-sref="division({category:company._id})">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="s.length==1"></div> -->
                        <!--//for grid 1-->
                        <!--//for grid 2-->
                        <!-- <div class="col-md-2" ng-if="s.length==2"></div>
                        <div class="col-md-4" ng-repeat="company in s" ng-if="s.length==2">
                            <div class="door margin0" ui-sref="division({category:company._id})">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="s.length==2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
 
    <!-- <section class="abouts ">
        <div class="container">
            <h1 class="text-capitalize offers whitey">about us</h1>
            <p class="creativity"> creativity is limitless and so are the ways to expressions ! </p>
            <div class="about-info">
                <div class="about-data text-right ">
                    <p class="whitey text-left">Our vision is to bring your dream space alive. We belive that a house can only be turned into the home,
                        When it evoke emotions in its residents and is installed with the memorable moments. We at Gala,
                        offers modern interior design solutions with the touch of elegant architecture, and much more. With
                        a variety of high quality and luxury home décor products, we make your idea of a dream home, come
                        to life. </p>
                    <div>
                        <a ui-sref="aboutUs">Know More</a>
                    </div>
                </div>
                <div class="about-img">
                    <img src="img/home/11.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
<div class="loading-img" ng-hide="loaded">
    <img src="img/loading.gif" class="img-responsive">
</div> -->