<div class="main-banner ">
    <div class="relative flexslides">
        <flex-slider flex-slide="s in banner track by $index" class="mt10" prev-text="" next-text="">
            <li>
                <img ng-src="{{s.image | serverimage}}" class="img-full">
            </li>
        </flex-slider>
    </div>
    <section class="listings">
        <div class="container">
            <h1 class="text-capitalize text-right ">our offerings</h1>
            <div class="about-info">
                <div class="text-center product">
                    <div class="row" ng-repeat="row in companyData">
                        <!--//for grid 3-->
                        <div class="col-md-4" ng-repeat="company in row">
                            <div class="door margin0" ui-sref="division({category:company._id})" ng-if="row.length==3">
                                <!--<div class="door-img" ng-style="{'background-image': 'url(' + company.banner + ')'}"></div>-->
                                <div class="door-img" style="background: url('{{company.banner | serverimage}}')">
                                    <!--<img ng-src="{{company.banner | serverimage}}"></div>-->
                                </div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                            <!--//for grid 2-->
                            <div class="col-md-2"></div>
                            <div class="door margin0 col-md-4" ui-sref="division({category:company._id})" ng-if="row.length==2">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                            <!--//for grid 2-->
                            <!--//for grid 2-->
                            <div class="col-md-4"></div>
                            <div class="door margin0" ui-sref="division({category:company._id})" ng-if="row.length==1">
                                <div class="door-img img1" style="background: url('{{company.banner | serverimage}}')"></div>
                                <div class="door-info" ng-if="company.name">
                                    <p class="text-capitalize">{{company.name}}</p>
                                </div>
                            </div>
                            <!--//for grid 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="abouts ">
        <div class="container">
            <h1 class="text-capitalize offers whitey">about us</h1>
            <p class="creativity"> creativity is limitless and so are the ways to expressions ! </p>
            <div class="about-info">
                <div class="about-data text-right ">
                    <p class="whitey text-left">Our vision is to bring your dream space alive. We belive that a house can only be turned into the home,
                        When it evoke emotions in its residents and is installed with the memorable moments. We at Gala,
                        offers modern interior design solutions with the touch of elegant architecture, and much more. With
                        a variety of high quality and luxury homes. </p>
                </div>
                <div class="about-img">
                    <img src="img/home/11.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
</div>