<div class="gallery division bg-img">
    <!--<section class="bg-division bg-divisions relative" style="background: url('/img/home/2.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <h2 class="text-uppercase">SHOWROOM</h2>
        </div>
    </section>-->
    <div class="top-space">
        <img src="img/5.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <!--<div class="products-info relative">
            <div class="product-inform ">
                <h3 class="text-capitalize text-center pad-10">{{name}} </h3>
            </div>
            <div class="row text-center">
                <div class="container">
                    <div class="products-info relative">
                        <div class="product-inform ">…
                            <div class="col-md-4 col-sm-4 col-xs-12">
                            </div>
                        </div>
                        <div class="ok">
                            <img src="img/product/ok.png" class="img-responsive" alt="ok">
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 text-center">
                    <figure class="relative">
                        <img ng-src="{{bigImage | serverimage}}" class="img-responsive" class="img-full">
                    </figure>
                    <div class="flexy  hidden-sm hidden-xs">
                        <flex-slider slide="s in ProductDetails track by $index" item-width="130" item-margin="20" animation="slide" slideshow="true"
                            animationLoop="true" prev-text="" next-text="">
                            <li ng-click="changeBigImage(s.images[0].bigImage, s.name)">
                                <img ng-src="{{s.images[0].smallImage | serverimage}}">
                            </li>
                        </flex-slider>
                    </div>
                    <div class="flexy visible-xs hidden-md visible-sm">
                        <flex-slider slide="s in productIdimage track by $index" item-width="80" item-margin="10" animation="slide" slideshow="true"
                            animationLoop="true" prev-text="" next-text="">
                            <li ng-click="changeBigImage(s.images[0].bigImage, s.name)">
                                <img ng-src="{{s.smallImage | serverimage}}">
                            </li>
                        </flex-slider>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                </div>
            </div>
            <div class="ok">
                <img src="img/product/ok.png" class="img-responsive" alt="ok">
            </div>
        </div>-->
    </div>
</div>