<div class="border">
    <div class="close" ng-click="closepopup();"><i class="fa fa-times cross"></i></div>
    <div class="contact-details">
        <h4 class="text-center contact-heading">CONTACT DETAILS </h4>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">*First Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="data.firstName" placeholder="Enter Name" ng-model="formData.firstName"
                    autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">*Last Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="data.lastName" placeholder="Enter Last Name" ng-model="formData.lastName"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">*Contact Number:</label>
                <div class="col-sm-6">
                    <input type="tel" class="form-control" ng-model="data.contactNumber" placeholder="Enter Contact Number" minlength="10" maxlength="10"
                        ng-model="formData.number" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Message:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="data.message" rows="4" cols="35"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="saveEnquiry(data) " ng-model="formData.message">Submit</button>
                </div>
            </div>
        </form>
        <div class="thanku" ng-if="submitmsg.value==true">
            <p class="text-center">Thank You For Submiting</p>
        </div>
    </div>
</div>