$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-green:#76c04f!default;
$brand-white:#fff!default;
$brand-grey:#a6a5a5!default;
$brand-lgrey:#f9f9f9 !default;
$brand-red:#ff3a40 !default;
$brand-facebook:#3b5998 !default;
$brand-google:#dd4b39 !default;
$brand-tumblr:#529ECC !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    font-family: "Avenir";
    padding-top: 70px;
}


img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

.bg-shadow{
    background: black!important;
    img{
        opacity: 0.5!important;
    }
    div{
        opacity: 0.5!important;
    }
}


img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

//footer//
footer {
    font-size: 12px;
    background-color: $brand-green;
    color: $brand-white;
    padding: 15px 0;
    p {
        margin: 0;
    }
}

//footer//
//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    @include transition(all 300ms ease);
}

.nav-up {
    @include transform(translateY(-100%));
}

//mixins//
@mixin display($display) {
    -webkit-display: $display;
    -moz-display: $display;
    -ms-display: $display;
    display: $display;
}

@mixin fontsize($font) {
    -webkit-font-size: $font;
    -moz-font-size: $font;
    -ms-font-size: $font;
    font-size: $font;
}

// * mixins for padding , margin and height-width given in bourbon
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirNext-Regular.otf");
}

@font-face {
    font-family: "AvenirBold";
    src: url("../fonts/AvenirNext-Bold.otf");
}

@font-face {
    font-family: "Savoye";
    src: url("../fonts/savoyeplain.ttf");
}

//common classes//
a {
    color: $brand-white;
    &:hover,
    &:focus {
        color: $brand-white;
        text-decoration: none;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.relative {
    @include position(relative);
}

.padding0 {
    @include padding(0px);
}

.margin0 {
    @include margin(0px);
}

.division {
    margin-top: -70px;
    overflow-x: hidden;
}

.chairmansImg{
    width: 56%;
    margin: 0 auto;
}

.bg-img{
background-image: url("../img/home/gala web background.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

.bg-col{
    background: white!important;
}

.bg-trans{
background: transparent;
}

.bg-grey {
    background-color: $brand-lgrey;
}

h1 {
    @include fontsize(70px);
    font-weight: 400;
}

h2 {
    @include fontsize(36px);
    font-weight: 600;
}

h3 {
    margin: 0;
    @include fontsize(26px);
}

h4 {
    @include fontsize(16px);
    font-weight: 700;
}

h5 {
    @include fontsize(14px);
    font-weight: 600;
}

.row-flex {
    @include display(flex);
    width: 100%;
}

.col-flex {
    @include flex(1);
    display: block;
    width: 50%;
}

.mar-top30{
    margin-top: 30px;
}

.aboutcon{
    p{
        margin: 15px 0px!important;
    }
}

.rows-flex {
    @include display(flex);
    width: 100%;
}

.cols-flex {
    @include flex(1);
    display: inline-block;
    width: 33%;
}

.divflex{
    @include flex(1);
    display: inline-flex;
    width: 33%;
}
.overlay {
    @include position(absolute,
    0 0 0 0);
}

.types-list {
    a {
        color: #333333;
        &:hover {
            color: $brand-green;
        }
        &:active {
            color: #000 !important;
            font-weight: 900 !important;
        }
        &:focus {
            color: #000;
            font-weight: 900;
        }
    }
    .active {
        color: #000!important;
        font-weight: 900!important;
    }
}

.myclass {
    color: #000 !important;
    font-weight: 900 !important;
}

.mt10 {
    margin-top: 10px;
}

.whitey {
    color: $brand-white;
}

//common classes//
//nav//
.nav {
    li {
        a {
            @include padding(10px 25px 10px 25px);
        }
    }
}

.navbar {
    .container {
        background-color: $brand-white;
    }
}

.navbar-default {
    background-color: transparent;
    border: transparent;
    .navbar-nav .active>a,
    .navbar-nav .active>a:hover,
    .navbar-nav .active>a:focus {
        background-color: transparent;
        border: transparent;
    }
}

.navbar-nav a {
    &:hover {
        color: $brand-green !important;
    }
}

.navbar-fixed-top {
    top: 20px;
}

.navbar-brand {
    padding: 5px 0;
    margin: 0 !important;
    height: auto;
    width: 50px;
    img {
        width: 100%;
    }
}

.navbar-collapse {
    padding: 10px 0;
}

//nav//
//social common template//
.social-info {
    border-top: 1px solid $brand-green;
    @include padding(40px,
    null);
    color: $brand-grey;
    a {
        color: $brand-grey;
    }
    ul,
    p {
        @include margin(0px);
    }
    li {
        @include margin(null 7px null 7px);
    }
}

.address {
    @include margin(20px null 20px null);
}

.mail-tel {
    li:first-child {
        @extend .relative;
        &:after {
            content: "";
            @include position(absolute,
            3px 0px null null);
            @include size(7px,
            15px);
            border-right: 1px solid #76c04f;
        }
    }
    a {
        color: $brand-green;
    }
    li {
        @include padding(null 15px null 15px);
    }
}

.border-right {
    border-right: 1px solid #76c04f;
}

//social common template//
//division//
.division-info {
    h3 {
        @include padding (40px 0 30px 0);
        color: $brand-red;
    }
}

.product {
    @include padding (0 20px 0 10px);
}

.aside {
    min-height: 900px;
    h4 {
        margin-bottom: 15px;
    }
    li {
        padding-bottom: 15px;
    }
}

.bg-division,
.bg-divisions {
    // height: 40vh!important; 
    height:auto; 
    // background-image: url("../img/division/banner.jpg");
    background-repeat: no-repeat!important;
    background-size: cover!important;
    h2 {
        @include position(absolute,
        50% null null 50%);
        @include transform(translate(-50%,
        -50%));
        color: #fff;
        letter-spacing: 10px;
    }
}
.door-shadow{
    box-shadow: 7px 6px 1px #ccc !important;
}
.door {
    @include margin(10px);
    cursor: pointer;
   
    // box-shadow: 0px 5px 25px #0000;
    .door-info {
        @include padding(10px 0);
        box-shadow: 2px 2px 2px #ccc;
        background: white;
        p {
            margin: 0;
            font-size: 18px;
        }
    }
}

.door-img {
    width: auto;
    height: 150px;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.img1 {
    background-image: url("../img/division/door1.jpg");
}

.img2 {
    background-image: url("../img/division/door2.jpg");
}

.img3 {
    background-image: url("../img/division/door3.jpg");
}

.img4 {
    background-image: url("../img/division/door4.jpg");
}

.img5 {
    background-image: url("../img/division/door5.jpg");
}

.img6 {
    background-image: url("../img/division/door6.jpg");
}

.bg-divisions {
    height: 40vh !important;
}

//division//
//about//
.types {
    @include padding(35px 0 30px 0);
    li {
        @extend .relative;
        @include padding(0 15px 0 15px);
        &:after {
            content: "";
            border-right: 1px solid $brand-red;
            @include size(5px,
            20px);
            @include position(absolute,
            0 0 null null);
        }
    }
    li:last-child {
        &:after {
            border-right: transparent;
        }
    }
    a {
        font-size: 20px;
        &:hover {
            color: $brand-green;
        }
    }
}

.about {
    .bg-division {
        background-image: url("../img/about/banner.jpg");
    }
}

.main-list {
    @include padding(80px 0 80px 0);
    margin-bottom: 40px;
    background-image: url("../img/about/2.jpg");
    .img1 {
        background-image: url("../img/about/3.jpg");
    }
    .img2 {
        background-image: url("../img/about/4.jpg");
    }
    .img3 {
        background-image: url("../img/about/5.jpg");
    }
    .img4 {
        background-image: url("../img/about/6.jpg");
    }
    .img5 {
        background-image: url("../img/about/7.jpg");
    }
    .door {
        @extend .relative;
        @include transition(all ease 300ms);
        .door-info {
            width: 60%;
            @include transition(all ease 300ms);
            @include position(absolute,
            50% null null 50%);
            @include transform(translate(-50%,
            -50%));
            background-color: rgba(255, 255, 255, 0.59);
        }
        .overlay {
            background-color: transparent;
        }
        &:hover {
            .overlay {
                background-color: rgba(0, 0, 0, 0.31);
                @include position(absolute,
                0 0 0 0);
            }
            .door-info {
                background-color: transparent;
                box-shadow: none;
                p {
                    color: $brand-white;
                }
            }
        }
    }
}

//about//
//home//
.color{
    //   font-family: "AvenirBold";
    font-weight: 900;
}
.color-red{
    color: $brand-red;
}
.font-size{
    font-size: 50px;
}
.abouts {
    @extend .relative;
    margin: 60px 0;
    background-image: linear-gradient(to right, $brand-green 60%, white 40%);
    opacity: 0.9;
}

.about-info {
    padding: 100px 680px 105px 0px;
}

.aboutGala{
    padding: 10px 0px 100px 0px;
}

.about-img {
    @include position(absolute,
    55px 65px null null);
    @include size (650px,
    auto);
}

.about-data {
    margin-top: 25%;
}

.eddy-modal {
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
    img {
        height: 90vh;
    }
    .btn {
        font-family: "Avenir";
        padding: 6px 40px;
        margin-bottom: 30px;
    }
}

.listings {
    @extend .relative;
    // background-image: linear-gradient(to right, white 25%, $brand-lgrey 25%);
    .about-info {
        width: auto;
        padding: 100px 0px 100px 0px;
    }
    .img1 {
        background-image: url("../img/homenew/1.jpg");
    } // .img2 {
    //     background-image: url("../img/homenew/2.jpg");
    // }
    // .img3 {
    //     background-image: url("../img/homenew/3.jpg");
    // }
    // .img4 {
    //     background-image: url("../img/homenew/4.jpg");
    // }
    // .img5 {
    //     background-image: url("../img/homenew/5.jpg");
    // }
    // .img6 {
    //     background-image: url("../img/homenew/6.jpg");
    // }
    // .img7 {
    //     background-image: url("../img/homenew/7.jpg");
    // }
    // .img8 {
    //     background-image: url("../img/homenew/8.jpg");
    // }
    // .img9 {
    //     background-image: url("../img/homenew/9.jpg");
    // }
    // .img10 {
    //     background-image: url("../img/homenew/10.jpg");
    // }
}

//flexslider//

.homeslider .flex-control-nav{
    bottom:60px !important;

}

.flexslides {
    .flex-direction-nav {
        @include display(none);
    }
    .flex-control-paging li a {
        @include size(8px,
        8px);
    }
    .flex-control-paging li a {
        background-color: $brand-white;
    }
    .flex-control-paging li a:hover {
        background-color: $brand-white;
    }
    .flex-control-paging li a.flex-active {
        background-color: $brand-green;
    }
    .flex-control-nav {
        bottom: 80px;
        z-index: 99;
    }
}

.flexslider {
    border: none;
    background: transparent;
}

//flexslider
.Groupact{
    float: right;
    font-size: 24px;
    margin-top: 0px;
    &:hover {
        background: $brand-red;
    }
}
.main-banner {
    .listings {
        h1 {
            color: $brand-red;
            font-size: 30px;
            font-weight: 600;
        }
        // h3 {
        //     color: $brand-red;
        //     font-size: 24px;
        //     font-weight: 600;
        // }
        .about-info {
            @include padding(10px 0 0 0);
        }
    }
    .door-info {
        background-color: $brand-white;
    }
    .offers {
        @include transform(translate(-50%,
        -50%));
        @include position(absolute,
        10% null null 20%);
    }
}

.creativity {
    @include position(absolute,
    28% null null 14%);
    @include fontsize(18px); // font-family: "Savoye";
    // font-style: italic;
    color: $brand-white;
    line-height: 35px;
    text-transform: capitalize;
}

.view-more {
    a {
        color: #333333;
        font-weight: 900;
        padding: 5px 20px;
        font-size: 20px;
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}

//home//
//gallery//
.product-inform {
    p {
        @include fontsize(12px);
    }
}

.social-share {
    p {
        margin-right: 5px;
        @include display(inline-block);
        @include fontsize(14px);
        font-weight: 600;
    }
    ul {
        @include display(inline-block);
        li {
            @include size(30px,
            30px);
            @include display(inline-block);
            border-radius: 50%;
            margin: 0 5px;
            background-color: $brand-facebook;
            line-height: 30px;
            text-align: center;
        }
        li:nth-of-type(2) {
            background-color: $brand-google;
        }
        li:nth-of-type(3) {
            background-color: $brand-tumblr;
        }
    }
}

.products-info {
    @include padding(50px 0 50px 0);
    button {
        @include padding(6px 40px 6px 40px);
        border: none;
    }
}

.space-tb {
    @include padding(20px 0 30px 0);
}

.flexy {
    margin-top: 30px;
    .flexslider {
        margin: 0!important;
    }
    .flex-control-nav {
        @include display(none);
    }
    .flex-direction-nav .flex-next {
        right: -40px!important;
    }
    .flex-direction-nav .flex-prev {
        left: -50px!important;
    }
    .flex-direction-nav a.flex-next:before,
    .flex-direction-nav a.flex-prev:before {
        content: "";
        background: url(../img/product/arrow2.png) no-repeat;
        background-size: cover;
        @include size(60px,
        60px);
        @include display(block);
    }
    .flex-direction-nav a.flex-prev:before {
        background: url(../img/product/arrow1.png) no-repeat;
    }
}

sup {
    font-size: 130%;
}

.modal-xl {
    width: 1300px;
}


.dropdown-menu {
    border-top: 3px solid #6AB751;
    padding: 15px 0px;
    background-color: rgba(48, 48, 48, 0.9);
    top: 95% !important;
    min-width: 965px;
    li {
        padding: 10px 0px !important;
        display: inline-block;
        font-size: 13px;
        a {
            padding: 13px 10px;
            display: inline-block;
            color: #fff !important;
            font-weight: 600;
            text-transform: uppercase;
            @include transition(all 800ms ease);
            &:hover {
                color: $brand-green !important;
            }
        }
    }
}

//new navbar
.navbar {
    margin-bottom: 0;
}

.navs {
    li {
        padding: 16px;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        a {
            color: #777;
        }
    }
}

.logos {
    padding: 0 2% !important;
}

.hand1,
.hand2,
.hands1,
.hands2,
.handss1,
.handss2 {
    @include size(50px,
    auto);
    @include position(absolute,
    -13px -22px null null);
}

.hand2 {
    @include position(absolute,
    -13px null null -22px);
}

.hands1,
.hands2,
.handss1,
.handss2 {
    @include position(absolute,
    -2px 8px null null);
    z-index: 99;
}

.hands2 {
    @include position(absolute,
    -2px null null 0px);
}

.handss1,
.handss2 {
    @include size(70px,
    auto);
}

.handss1 {
    @include position(absolute,
    -12px null null 26px);
}

.handss2 {
    @include position(absolute,
    -12px 26px null null);
}

.ok {
    @include size(120px,
    auto);
    @include position(absolute,
    null 0 0 null);
}

.heart {
    @include size(200px,
    auto);
    @include position(absolute,
    null null 0 100px);
}

.thumb {
    @include size(180px,
    auto);
    @include position(absolute,
    null null 0 100px);
}

//scss for FAQ
//scss for FAQ
.bg-faq-banner {
    background: url("../img/faq/faq.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh !important;
}

.faq-content {
    margin: 50px 0;
    .panel-body {
        padding: 0px;
    }
    .panel-group {
        margin-bottom: 5px;
        .panel {
            border-radius: 0px;
            border-color: black;
        }
        a:hover,
        a:focus {
            color: black;
        }
    }
    h5 {
        font-weight: 400;
    }
}

.faq-content .panel-default>.panel-heading {
    color: black;
    background: white;
    padding: 3px 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-color: black;
    border-bottom: 1px;
}

.faq-questions {
    background: white;
    padding: 10px;
    font-size: 15px;
    h4 {
        color: black;
    }
}

.question-list {
    border-top: 1px solid black;
}

.down-arrow {
    font-size: 25px;
    &:before {
        position: relative;
        right: 5px;
        bottom: 5px;
    }
}

.pad-10 {
    padding: 10px!important;
}

.search {
    border-bottom: 1px solid #ccc !important;
    border: none;
    &:focus {
        outline: none;
    }
}

.products-li {
    list-style-type: circle!important;
    text-align: left;
    padding-left: 5px;
    font-size: 18px;
}

.text-left {
    text-align: left;
}

.img-boy {
    position: absolute;
    left: 7%;
    bottom: 0;
    width: 30%;
}

.search-holder {
    width: 70%;
    float: right;
    position: relative;
}

.search-suggest {
    position: absolute;
    top: 50px;
    right: 0;
    width: 50%;
    background-color: white;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.25);
    z-index: 3;
    max-height: 350px;
    overflow-y: auto;
    ul {
        margin: 0;
        +ul {
            margin-top: 3px;
        }
    }
    li {
        padding: 0px!important;
        position: relative;
        line-height: 30px;
        &.ct-name {
            padding-bottom: 3px;
            span {
                text-transform: uppercase;
                display: block;
                border-bottom: 1px solid #505050;
                padding: 0 0 3px !important;
                font-size: 11px;
                letter-spacing: 1px;
                font-weight: 300;
            }
        }
        &.search-item {
            // padding: 8px 10px;
            // padding-left: 44px;
            display: block;
            cursor: pointer;
            &:hover {
                p {
                    text-decoration: underline;
                }
            }
        }
        p {
            margin: 0;
        }
        .left-space {
            height: 26px;
            width: 26px;
            text-align: center;
            line-height: 26px;
            display: inline-block;
            background-size: cover;
            background-position: center;
            vertical-align: middle;
            border-radius: 2px;
            overflow: hidden;
            position: absolute;
            left: 10px;
            top: 4px;
            font-size: 18px;
            &.rounded {
                border-radius: 100%;
            }
        }
    }
}

.pcolor {
    color: black!important;
}

//***********css given by kishori**********//
//start of about
.gcolor {
    color: #79797d;
}

.about-us {
    color: #79797d;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 70px 0px 30px;
}

.about-main-head {
    font-size: 19px;
    color: #79797d;
    font-weight: 500;
}

.para-color {
    p {
        color: #79797d;
        font-size: 16px;
        text-align: justify;
    }
}

.content-padd {
    padding: 10px 40px;
}

.chairman {
    color: #79797d;
    padding: 40px 0px 20px;
}

.w235 {
    width: 235px;
    a {
        color: #76c04f;
    }
}

.bg-color {
    background-color: #f9f9f9;
    h4 {
        color: #666;
        font-weight: 600;
    }
    label {
        color: #666;
        font-weight: 600;
    }
}

.mar-t {
    margin-top: 43px;
}

.website-pop {
    .load-pop {
        width: 100%;
        background-color: transparent;
        .close {
            @include square(25px);
            border-radius: 100%;
            line-height: 20px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: -10px!important;
            left: 0px!important;
            background: black;
            text-align: center;
            i {
                color: white!important;
                font-size: 14px;
            }
        }
    }
}

.category-name {
    margin: 15% 0%;
    h1 {
        color: #fff;
        font-weight: 900;
        text-shadow: 3px 3px #b4afab;
    }
}

.padd {
    padding: 10px 0px;
}

//gallery 
.contact-heading {
    color: $brand-grey;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
}

.contact-details {
    padding: 25px 5px;
    .control-label {
        color: $brand-grey;
    }
}

.border {
    border: 1px solid black;
    .close {
        font-size: 19px !important;
        color: #000;
    }
}

.cat-list {
    .door {
        @extend .relative;
        @include transition(all ease 300ms);
        .door-info {
            width: 60%;
            @include transition(all ease 300ms);
            @include position(absolute,
            50% null null 50%);
            @include transform(translate(-50%,
            -50%));
            background-color: rgba(255, 255, 255, 0.59);
        }
        .overlay {
            background-color: transparent;
        }
        &:hover {
            .overlay {
                background-color: rgba(0, 0, 0, 0.31);
                @include position(absolute,
                0 0 0 0);
            }
            .door-info {
                background-color: transparent;
                box-shadow: none;
                p {
                    color: $brand-white;
                }
            }
        }
    }
}

.thanku {
    p {
        font-size: 20px;
        color: $brand-red;
    }
}

.mar-t5 {
    margin-top: 5px;
}

.loading-img {
    width: 100%;
    top: 0;
    height: 100%;
    display: block;
    position: fixed;
    background: rgba(43, 54, 67, 0.36);
    z-index: 2000;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.brands{
    color:$brand-green!important;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 30px;
}

.our-client {
    background-color: white;
    .client-title {
        padding: 10% 10% 5%;
        position: relative;
        .img-holder {
            position: relative;
            height: 250px;
            width: 300px;
            padding-left: 60px;
        }
        .title {
            position: absolute;
            left: 0;
            top: 12%;
            h1 {
                font-weight: bold;
            }
            .head1 {
                color: $brand-green;
                margin-bottom: 0;
            }
            .head2 {
                margin-top: 10px;
                color: $brand-green;
                margin-top: 0;
            }
        }
        .our-img {
            position: absolute;
            left: 0;
            bottom: 22%;
            width: 290px;
        }
    }

    .marginb10{
        margin:15px 0px;
    }
    .content-slider {
        padding: 3% 1% 0;
        position: relative;
        .flexslider {
            background-color: transparent;
            color: #fff;
        }
        p {
            text-align: justify;
            position: relative;
            .quote-left {
                position: absolute;
                top: -20px;
                left: -35px;
                width: 25px;
            }
            .quote-right {
                position: absolute;
                bottom: -20px;
                right: -10px;
                width: 25px;
            }
        }
        .flex-control-nav {
            z-index: 222;
            bottom: -100px;
            a {
                background-color: #8E9092;
            }
            .flex-active {
                background-color: #fff;
            }
        }
        .client-img {
            position: absolute;
            right: 0;
            width: 500px;
        }
    }
}
// .loading-img {
//      
//    }