<header hide-on-scrol class="hidden-lg">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand text-center" ui-sref="home"><img src="/img/logo.png" alt="logo" width="20"> </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
        </div>
    </nav>
</header>
<header hide-on-scrol class="hidden-xs visible-lg">
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="headerCtrl">
        <div class="container">
            <div class="navbar">
                <ul class="navs text-center">
                    <li> <a ui-sref="home">home</a></li>
                    <li> <a>about us</a> </li>
                    <li> <a>division </a>
                        <ul class="dropdown-menu">
                            <li class="rows-flex margin0 padding0">
                                <div class="cols-flex" ng-repeat="cat in division" ui-sref="division({category:cat.id})">
                                    <a href="#">{{cat.name}}</a>
                                </div>
                                 <!--<div class="cols-flex">
                                    <a ui-sref="division({category:s1.id})">uro veener world</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="#">Wood & Mouldings</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Mahaveer Corporation</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Euro Ceramic World</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Euro Hardware World</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Euro Flooring(p) LTD</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Euro Lighting World</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Bath World</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">vridhi Woods</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Drapes World</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Hafele & Blum</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Stone World</a>
                                </div>
                                <div class="cols-flex">
                                    <a href="">Gala Furniture World</a>
                                </div>-->
                                <!--<div class="col-md-3" ng-repeat="submenu in menu.subnav" ui-sref-active="active">
           <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        </div>-->
                            </li>
                        </ul>
                    </li>
                    <li class="logos">
                        <a class="navbar-brand text-center" ui-sref="home"><img src="/img/logo.png" alt="logo" width="20"> </a>
                    </li>
                    <li> <a href="gallery">gallery</a> </li>
                    <li> <a href="faq">faq</a> </li>
                    <li> <a href="#">contact</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</header>